/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common sytles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  width: 870px;
  height: 280px;
  background-color: #ffffff;
  padding: 33px;
}
/* top players style */
.section-title {
  color: #562eff;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  weight: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
}
